* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 40%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.output {
  width: 100%;
}

.custom-row:nth-child(odd) {
  background: rgb(235, 230, 230);
}

form {
  width: 60%;
  margin: 10% auto;
}
